<div class="jumbotron">
  <h1>Procesos Penales</h1>
  <p class="lead">
    
    Seguimiento de Actos Procesales Penales Por Delitos De Corrupcion.
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#!/registro">
    <!--<a class="btn btn-lg btn-success" ng-click="llamarAgente()">-->
      Ingresar
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </p>
</div>

<div class="row marketing">
  <h1>{{datos_servicio}}</h1>
  <h4>Seguimiento De Caso</h4>
  <p>
    se puede hacer el seguimiento a un caso de Acto Procesal Por Delito de Corrupcion.
  </p>

  <h4>Listado de Casos</h4>
  <p>
    Listado de Casos Reportados.
  </p>

</div>
