<div class="jumbotron">
  <h1>Procesos Penales</h1>
  <p class="lead">
    Seguimiento de Actos Procesales Penales Por Delitos De Corrupcion.
  </p>
  <p>
    <a class="btn btn-lg btn-success" 
       ng-href="#!/registro">
      Ingresar
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </p>
</div>

<div class="row marketing">
  <h1>{{datos_servicio}}</h1>
  <h4>Seguimiento De Caso</h4>
  <p>
    se puede hacer el seguimiento a un caso de Acto Procesal Por Delito de Corrupcion.
  </p>

  <h4>Listado de Casos</h4>
  <p>
    Listado de Casos Reportados.
  </p>
  <div class="panel panel-default">
    <div class="panel-body">
      <button type="button" 
              class="btn btn-default" 
              ng-click="llamarAgente()">
        Llamar Agente Resolutor Cierre
      </button>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel-body">
          <h3>Datos</h3>
          <pre>
            {{datos | json}}
          </pre>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel-body">
          <h3>Respuesta</h3>
          <pre>
            {{respuesta | json}}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
