<div id="modal" 
     class="modales">
<div class="panel panel-primary ">
	<div class="panel-heading ">Datos Del Caso
  	<button type="button" 
            data-dismiss="modal" 
            class="close" 
            ng-click="close()">
  		<span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
		</button>
	</div>
  <div id="overlay">
      Datos Del Seguimiento a Mostrar .<br>
      Dias:<br>Tiempo Estimado
  </div>
  <div id="fade"></div>
</div>
</div>